<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-container about">
                    <h4>{{ 'Few Words About Gjerde Camping'| t }}</h4>
                    <p class="white">{{ entry.descriptionTag }}</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-3">
                <div class="text-container">
                    <h4>{{ 'Links'| t }}</h4>
                    <ul class="list-unstyled li-space-lg white">
                        <li>
                            <a class="white" href="https://www.visitnorway.no/" target="_blank" rel="noreferrer">Visit Norway</a>
                        </li>
                        <li>
                            <a class="white" href="https://www.routesnorth.com/" target="_blank" rel="noreferrer">Routes North</a>
                        </li>
                        <li>
                            <a class="white" href="https://www.fjord.kommune.no/" target="_blank" rel="noreferrer">Fjord Kommune</a>
                        </li>

                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-3">
                <div class="text-container">
                    <h4>{{ 'Activities'| t }}</h4>
                    <ul class="list-unstyled li-space-lg">
                        <li>
                            <a class="white" href="http://www.jordbarstova.no/" target="_blank" rel="noreferrer">Jorsbærstova</a>
                        </li>
                        <li>
                            <a class="white" href="http://www.valldal.no/" target="_blank" rel="noreferrer">Valldal Naturopplevingar</a>
                        </li>
                        <li>
                            <a class="white" href="http://www.strandafjellet.no/" target="_blank" rel="noreferrer">Stranda Skisenter</a>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->